body {
  background-color: lightblue;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin: auto;
  margin-bottom: 10px;
}
.new-grid {
  min-width: 120px;
  text-align: center;
}

.color {
  color: grey;
  background-color: rgb(67 67 243);
}

.container {
  background-color: beige;
  margin: auto;
  
  display: flex;
  flex-wrap: wrap;
}

.cell {
  box-sizing: border-box;
  background-color: grey;
  padding: 0px;
  margin: 0px;
}

.grid {
  border: 1px solid black;
}

.active {
  color: white;
  box-sizing: border-box;
  background-color: black;
  border-radius: 2px;
}
